/**************************************************
 *  _____ ____ __  __       _ _
 * |  ___/ ___|  \/  | __ _(_) | ___ _ __
 * | |_ | |   | |\/| |/ _` | | |/ _ \ '__|
 * |  _|| |___| |  | | (_| | | |  __/ |
 * |_|   \____|_|  |_|\__,_|_|_|\___|_|
 *
 **************************************************
 *
 * FCMailer - 2017
 *
 * StyleName: FCMailer..extend.css
 *
 * PackageName: FCMailer
 * Version: 3.9.6
 *
 * FoodConnection
 * http://foodconnection.jp/
 * http://foodconnection.vn/
 *
 ***************************************************/

.fcform {
    padding-bottom: 110px;
    color: #010101;
}

.fcform br.sp-break {
    display: none;
}

.fcform br.pc-none {
    display: none;
}

/* title */
.fcform__title {
    margin-bottom: 25px;
    padding: 60px 20px 20px;
    font-size: 240%;
    text-align: center;
    /*background: #DFDFDF;*/
}


.fcform__tel {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    background-color: #F4F4F4;
    line-height: 200%;
    padding: 10px 0;
}

.fcform__tel h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.fcform__tel h3 {
    font-size: 220%;
    margin-bottom: 10px;
}


/* title */
.fcform__note {
    margin-bottom: 25px;
    padding: 0px 20px 0px;
    font-weight: 600;
    line-height: 180%;
    text-align: center;
    /*background: #DFDFDF;*/
}


/* desc */
.fcform__desc {
    display: none;
    margin: 25px auto;
    font-size: 110%;
}

/* progress */
.fcform__progress {
    margin-bottom: 50px;
}

.fcform__progress-step {
    float: left;
    color: #a3a3a3;
    font-size: 125%;
    font-weight: 600;
    width: 33.33%;
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}

.fcform__progress-step.active {
    color: #d00000;
}

.fcform__progress-step span {
    display: inline-block;
    padding: 35px 0;
    position: relative;
}

.fcform__progress-step span:before {
    content: "";
    margin: auto;
    background: #e0e0e0;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: none;
    transform: translateY(-2px);
    transition: all .3s ease;
    z-index: 1;
}

.fcform__progress-step.active span:before {
    background: #d00000;
    width: 20px;
    height: 20px;
    transform: translateY(0);
    box-shadow: inset 0 0 0 2px #d00000,
    inset 0 0 0 5px #FEFEFE;
}

.fcform__progress-step span:after {
    content: "";
    background: #e0e0e0;
    height: 5px;
    position: absolute;
    bottom: 10px;
    transform: translateY(2px);
}

.fcform__progress-start {
}

.fcform__progress-start span:after {
    left: 50%;
    right: -33.33vw;
}

.fcform__progress-confirm {
    text-align: center;
}

.fcform__progress-confirm span:after {
    left: -33.33vw;
    right: -33.33vw;
}

.fcform__progress-thanks {
    float: right;
    text-align: right;
}

.fcform__progress-thanks span:after {
    left: -33.33vw;
    right: 50%;
}

/* description */
.fcform__desc {
    text-align: center;
}

/* form */
.fcform__main {
    font-size: 110%;
    letter-spacing: .5px;
}

.fcform__main input,
.fcform__main select,
.fcform__main textarea {
    display: block;
    padding: 5px 10px;
    color: #303030;
    font: inherit;
    line-height: 1.25;
    background: #FEFEFE;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #c9c9c9;
    appearance: none;
    -webkit-appearance: none;
}

.fcform__main input::placeholder,
.fcform__main select::placeholder,
.fcform__main textarea::placeholder {
    opacity: 1;
    color: #CFCFCF;
    line-height: 1.8;
}

.fcform__main input:-ms-input-placeholder,
.fcform__main select:-ms-input-placeholder,
.fcform__main textarea:-ms-input-placeholder {
    color: #CFCFCF;
    line-height: 1.8;
}

.fcform__main input::-ms-input-placeholder,
.fcform__main select::-ms-input-placeholder,
.fcform__main textarea::-ms-input-placeholder {
    color: #CFCFCF;
    line-height: 1.8;
}

.fcform__main select {
    padding: 3.5px 10px;
    min-width: 70px;
    position: relative;
    top: 1px;
}

.fcform__main .i-dropdown {
    position: relative;
}

.fcform__main .i-dropdown.i-arrow:before,
.fcform__main .i-dropdown.i-arrow:after {
    content: "";
    pointer-events: none;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 0;
    right: 7px;
    bottom: 0;
    z-index: 2;
}

.fcform__main .i-dropdown.i-arrow:before {
    border-bottom: 5px solid #000;
    transform: translateY(-4px);
}

.fcform__main .i-dropdown.i-arrow:after {
    border-top: 5px solid #000;
    transform: translateY(4px);
}

.fcform__main .i-dropdown select {
    padding-right: 25px;
}

.fcform__main select:disabled {
    font-style: italic;
    color: #a3a3a3;
    background-color: #F4F4F4;
    cursor: not-allowed;
}

.fcform__main select option[value=""] {
    color: #909090;
    font-style: italic;
}

.fcform__main .choice-date select option:disabled {
    font-style: italic;
}

.fcform__main textarea {
    min-height: 150px;
    resize: vertical;
}

.fcform__main textarea.auto-resize {
    resize: none;
    overflow: hidden;
}

.fcform__main input[type="radio"],
.fcform__main input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.fcform__main input[type="number"] {
    /* direction: rtl; */
    display: inline-block;
    width: 100px;
}

.fcform__quote {
    margin-top: 25px;
    padding: 25px 70px;
    background: #f5f5f5;
}

.fcform__quote-title {
    padding: 10px 5px;
    font-size: 135%;
    font-weight: 600;
    border-bottom: 1px solid #e0e0e0;
}

.fcform__quote-content {
    padding: 10px 5px;
}

.fcform__quote-content dl {
    margin: 10px 0;
}

.fcform__quote-content dl + dl {
    margin-top: 40px;
}

.fcform__quote-content dt {
    font-size: 110%;
}

.fcform__quote-content dd {
    font-size: 105%;
}

.i-list {
    margin: 0 -10px;
}

.i-custom {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.i-custom + .i-custom {
}

.i-custom input {
    opacity: 0;
    position: absolute;
}

.i-custom span {
    padding-left: 30px;
    position: relative;
}

.i-custom span:before,
.i-custom span:after {
    content: "";
    margin: auto;
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all .3s ease;
}

.i-custom input[type="radio"] ~ span:before,
.i-custom input[type="radio"] ~ span:after {
    border-radius: 100%;
}

.i-custom span:before {
    background: #FEFEFE;
    width: 16px;
    height: 16px;
    border: 2px solid #607D8B;
    left: 0;
}

.i-custom span:after {
    opacity: 0;
    background: #607D8B;
    width: 12px;
    height: 12px;
    left: 4px;
    transform: scale(0);
}

.i-custom:hover span:after {
    opacity: .5;
    transform: scale(1);
}

.i-custom input:checked ~ span:after {
    opacity: 1;
    transform: scale(1);
}

.form-row {
    display: table;
    margin: auto;
    padding: 20px 55px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.form-caption {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}

.form-caption.vtop {
    padding-top: 5px;
}

.caption-inline {
    position: relative;
}

.caption--text {
    margin-left: 30px;
    font-weight: 600;
}

.caption--askerisk {
    padding: 4px 8px;
    color: #FEFEFE;
    font-size: 85%;
    font-weight: 600;
    line-height: 1;
    background: #d00000;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    left: -45px;
}

.form-value {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

.submit-form .note {
    text-align: center;
    margin-bottom: 20px;
    font-size: 80%;
    line-height: 180%;
    font-weight: 600;
    color: #000;
}

.form-block {
    margin: 0 -5px;
}

.form-block.s-medium {
    margin: 0 -10px;
}

.form-block.s-large {
    margin: 0 -20px;
}

.form-group {
    table-layout: fixed;
    display: table;
}

.form-group:not(.form-inline) {
    margin: auto;
    width: 100%;
}

.form-box {
    display: table-cell;
    vertical-align: middle;
}

.form-group:not(.form-inline) > .form-box {
    width: 100%;
}

.form-group.x2 > .form-box {
    width: 50%;
}

.form-group.x3 > .form-box {
    width: 33.33%;
}

.form-group.x4 > .form-box {
    width: 25%;
}

.form-group.x5 > .form-box {
    width: 20%;
}

.form-group.x3 input[name*="year"] {
    text-align: right;
    width: 100px;
}

.form-block .form-box {
    padding: 0 5px;
}

.form-block.s-medium > .form-group > .form-box {
    padding: 0 10px;
}

.form-block.s-large > .form-group > .form-box {
    padding: 0 20px;
}

.form-button {
    padding: 40px 0 100px;
    text-align: center;
}

.form-button button {
    cursor: pointer;
    display: inline-block;
    font-size: 110%;
    font-weight: 600;
    background: none;
    border: none;
    position: relative;
    transition: all .3s ease;
}

.form-button button:before {
    content: ">";
    margin: auto;
    font-family: monospace, sans-serif, serif;
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
}

.form-button button:hover {
    text-decoration: underline;
}

.form-button button[type="submit"] {
    padding: 20px 75px;
    color: #FEFEFE;
    font-size: 125%;
    background: #d00000;
    border-radius: 5px;
}

.form-button button[type="submit"]:before {
    content: "";
    margin: auto;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #FEFEFE;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
}

.form-button button[type="submit"]:hover {
    text-decoration: none;
    background: #9E0000;
}

.fc-form [class^="error"] {
    position: static;
}

.form-button .form-block + .form-block {
    margin-top: 20px;
}

.form-block-auto {
}

.form-block-auto .form-group {
    margin: 0;
    width: auto !important;
}

.form-block-auto .form-box {
    width: auto !important;
}

.vtop {
    vertical-align: top;
}

.vmiddle {
    vertical-align: middle;
}

.vbottom {
    vertical-align: bottom;
}


.fc-thanks {
    display: none;
    font-size: 110%;
    font-weight: 600;
    text-align: center;
}

.thanks-message {
    margin-bottom: 90px;
}

.thanks-button {
    color: #d00000;
}

.thanks-button a {
    display: inline-block;
    position: relative;
}

.thanks-button a:before {
    content: ">";
    margin: auto;
    font-family: monospace, sans-serif, serif;
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
}

@media only screen and (max-width: 960px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    a, article, div, h1, h2, h3, h4, h5, h6, img, section, span {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .fcform__main select {
        padding: 5px 10px;
        top: 0;
    }

    html.responsive .form-row {
        padding: 20px;
    }

    html.responsive .caption--text {
        display: block;
        margin-left: 0;
    }

    html.responsive .caption--askerisk {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
    }

    html.responsive .form-block {
        margin: 0;
    }

    html.responsive .form-group {
        display: block !important;
    }

    html.responsive .form-group:not(.form-inline) > .form-box {
        display: block;
        padding: 0;
        width: 100%;
    }

    html.responsive .form-group > .form-box + .form-box {
        margin-top: 20px;
    }

    html.responsive .form-button button[type="submit"] {
        padding: 15px 50px;
    }

    html.responsive .fcform__quote {
        padding: 25px 50px;
    }
}

@media only screen and (max-width: 750px) {
    html.responsive .fcform__title {
        font-size: 200%;
    }

    html.responsive .fcform__quote {
        padding: 25px;
    }

    html.responsive .form-row {
        display: block;
        padding: 15px 0;
    }

    html.responsive .form-caption {
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }

    html.responsive .caption--text {
        display: inline-block;
    }

    html.responsive .caption--askerisk {
        margin-right: 5px;
        top: -1px;
    }

    html.responsive .form-value:not(.form-box) {
        display: block;
        width: 100%;
    }

    html.responsive .form-group > .form-box + .form-box {
        margin-top: 10px;
    }

    html.responsive label {
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    html.responsive .fcform__title {
        font-size: 180%;
    }

    html.responsive .fcform__progress {
        margin-bottom: 20px;
    }

    html.responsive .fcform__progress-step {
        font-size: 95%;
        text-align: center;
    }

    html.responsive .fcform__progress-vertical .fcform__progress-step {
        display: block;
        float: none;
        padding: 15px 0;
        font-size: 100%;
        text-align: left !important;
        width: 100%;
    }

    html.responsive .fcform__progress-step:before {
        content: "";
        margin: auto;
        height: 5px;
        background: #e0e0e0;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
    }

    html.responsive .fcform__progress-vertical .fcform__progress-step:before {
        width: 5px;
        height: auto;
        top: 0;
        left: 7.5px;
        right: auto;
        bottom: 0;
    }

    html.responsive .fcform__progress-start:before {
        left: 50%;
    }

    html.responsive .fcform__progress-vertical .fcform__progress-start:before {
        top: 50%;
        left: 7.5px;
    }

    html.responsive .fcform__progress-thanks:before {
        right: 50%;
    }

    html.responsive .fcform__progress-vertical .fcform__progress-thanks:before {
        right: auto;
        bottom: 50%;
    }

    html.responsive .fcform__progress-step span {
        display: block;
        padding: 0;
        padding-top: 40px;
    }

    html.responsive .fcform__progress-vertical .fcform__progress-step span {
        padding: 0;
        padding-left: 40px;
    }

    html.responsive .fcform__progress-step:not(.active) span:before {
        left: 1.5px;
    }

    html.responsive .fcform__progress-step span:before {
        top: 20px;
        left: 0;
        right: 0;
        bottom: auto;
        transform: translateY(-6px);
    }

    html.responsive .fcform__progress-step.active span:before {
        transform: translateY(-7px);
    }

    html.responsive .fcform__progress-vertical .fcform__progress-step span:before {
        top: 0;
        right: auto;
        bottom: 0;
        transform: none !important;
    }

    html.responsive .fcform__progress-step span:after {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    html.responsive .fcform__title {
        font-size: 160%;
    }

    html.responsive .fcform__progress-step {
        font-size: 90%;
    }

    .fc-thanks {
        font-size: 90%;
        font-weight: 600;
        text-align: left;
    }

    html.responsive .fcform br.pc-none {
        display: block;
    }
}

@media only screen and (max-width: 360px) {
    html.responsive .fcform__title {
        font-size: 150%;
    }

    html.responsive .fcform br.sp-break {
        display: block;
    }


}

/*スピンボタン削除*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*入力時に背景色変更*/
input:focus,
textarea:focus,
select:focus {
    background: #fffaf0;
}


/*プライバシーポリシー*/
.rule {
    margin-top: 20px;
    padding: 20px;
    /*height: 200px;*/
    /*overflow: auto;
    border: 1px solid #d8d8d8;*/
    font-size: 15px;
}

.rule p {
    margin-bottom: 30px;
}

.rule .tit {
    font-size: 15px;
    font-weight: bold;
}

.confirm-hide .end {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 4% 0 0 0;
}

.rule dt {
    font-weight: bold;
    font-size: 16px;
}

.rule dd {
    margin-left: 34px;
    margin-bottom: 17px;
    line-height: 22px;
}

#privacy_checkbox_box {
    text-align: center;
    margin: 6% auto 2%;
    padding: 4% 4%;
    font-weight: bold;
    width: 85%;
    background-color: #fffaf0;
    display: block;
}

#privacy_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#privacy_checkbox .i-custom span {
    display: block;
    text-align: left;
 }

#privacy_checkbox .text {
    /*text-align: left;*/
    margin-top: 3px;
}

#privacy_checkbox .i-custom span:after {
    opacity: 0;
    background: #607D8B;
    width: 12px;
    height: 12px;
    left: 4px;
    transform: scale(0);
}

#privacy_checkbox .i-custom:hover span:after {
    opacity: 0;
    transform: scale(1);
}

#privacy_checkbox .i-custom input:checked ~ span:after {
    opacity: 1;
    transform: scale(1);
}

#privacy_checkbox input {
    border: 1px solid #d8d8d8;
    padding: 2px 8px 14px;
    box-sizing: border-box;
    width: auto !important;
    margin-right: 5px;
}

#privacy_checkbox a {
    text-decoration: underline;
}

#privacy_checkbox a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    #privacy_checkbox {
        font-size: 80%;
    }
}