/*
 * FCMailer - 2017
 *
 * StyleName: main.responsive.css
 *
 * PackageName: FCMailer
 * Version: 3.5
 *
 * FoodConnection
 * http://foodconnection.jp/
 * http://foodconnection.vn/
 *
 * Email: trung.styles@gmail.com
 *
 */

.wrap {
	transition: max-width .3s ease;
	-moz-transition: max-width .3s ease;
	-webkit-transition: max-width .3s ease;
}
@media screen and (max-width: 1010px) {
	.wrap {
		max-width: 95%;
	}
}